/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* COMMON */

body{
    font-family:Montserrat;arial
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.col{
    float: left;
}
img{
    width: 100%;
}

.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color:rgba(0, 0, 0, 0.2);
}

/* END COMMON */


.container{
    width: 80%;
    margin: auto;
    padding: 30px 0;
    /* TEST */
    height: 1200px;
    
  }

  /* HEADER */

  .logo{
      width: 15%;
  }

  /* banner */

  .banner{
      height: 550px;
      margin: 25px 0;
      border-radius: 10px;
      position: relative;
      background-image:url(../img/banner.jpg);
      background-repeat:no-repeat;
      background-size:cover; 
      background-position:50%;
      overflow: hidden;
     
  }

  .banner-text{
      position: absolute;
      left: 50px;
      bottom: 60px;
      width: 50%;
  }

  .banner-text h2{
      font-size: 35px;
      color: white;
      vertical-align: 10px;
      font-family: 'Arial Narrow Bold' ;
  }

  .banner-text p{
      color: white;
  }
  /* end banner */


  /* nav */

  .links{margin: 30px 0;

  }


  .menu{
      list-style-type: none;
  }

  .menu li{
      display: inline-block;
      padding-right: 20px;
  }

  .menu a{
      text-decoration: none;
      text-transform: uppercase;
      font-size: 14px;
      color: #b0b0b0;
  }
  /* end nav*/


  /* end HEADER */

  /* MAIN */
main{
    margin-top: 40px;
 
}

.main-title{
    margin-bottom: 30px;
}

  .main-title h2{
      font-size: 35px;
      font-weight:600;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

  .main-title h3{
      font-size: 18px;
      color: #a5a5a5;
  }

  .clearfix{
      padding: 20px 0;
  }

  .col.c{
      width:50%;
      margin-right: 2%;
      margin-left: 2%;
  }


  .col.side{
    width: 23%;
  }

  .imgcol{
      height: 250px;
      border-radius: 15px;
      overflow: hidden;
      position: relative;
  }

  .imgcol img{
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

    .col-description h4{
        padding:20px 0;
  }

  .col-description p{
      color: #c1c1c1;
  }
  /* end MAIN */

  /* footer */
  footer{
      margin-top: 5px;
  }

  .sign{
      width: 20%;
      height: 100px;
      margin: auto;
  }

  .sign span{
      width: 50px;
      height: 50px;
      color: red;
  }
  /* end footer */