/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* COMMON */

body{
    font-family:Montserrat;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.col{
    float: left;
}
img{
    width: 100%;
}

.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color:rgba(0, 0, 0, 0.2);
}

/* END COMMON */


.container{
    width: 80%;
    margin: auto;
    padding: 30px 0;
    /* TEST */
    height: 1200px;
    
  }

  /* HEADER */

  .logo{
      width: 15%;
  }

  /* banner */

  .banner{
      height: 550px;
      margin: 25px 0;
      border-radius: 10px;
      position: relative;
      background-image:url(../img/banner.jpg);
      background-repeat:no-repeat;
      background-size:100%; 
      background-position:50%;
      overflow: hidden;
     
  }

  .banner-text{
      position: absolute;
      left: 50px;
      bottom: 60px;
      width: 50%;
  }

  .banner-text h2{
      font-size: 35px;
      color: white;
      vertical-align: 10px;
  }

  .banner-text p{
      color: white;
  }
  /* end banner */


  /* nav */

  .links{margin: 30px 0;

  }


  .menu{
      list-style-type: none;
  }

  .menu li{
      display: inline-block;
      padding-right: 20px;
  }

  .menu a{
      text-decoration: none;
      text-transform: uppercase;
      font-size: 14px;
      color: #b0b0b0;
  }
  /* end nav*/

  





  /* end HEADER */

  /* main */
main{
    background-color: #0086ff;
}

  .main-title{
      background-color:#abcfe7;
      height: 60px;
  }

  .clearfix{
      padding: 20px 0;
  }

  .col.c{
      background-color:#abcfe7;
      width:48%;
      height:500px;
      margin-right: 1%;
      margin-left: 1%;
  }

  .col.l{
      background-color: #abcfe7;
      width: 25%;
      height: 500px;
  }

  .col.r{
    background-color: #abcfe7;
    width: 25%;
    height: 500px;
  }
  /* end main */

  /* footer */
  footer{
      background-color: #8801fe;
      height: 50px;
      margin-top: 5px;
  }
  /* end footer */